doctype html
html(lang="en")

head
  title Hurricane Charlie - The Art and Illustration of Charlie Taylor
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content="Hurricane Charlie is the illustration and graphics art of charlie taylor")
  link(rel="stylesheet" href="assets/css/main.css")
    
body
  include includes/header.pug 
  //- include includes/hero.pug 
  include includes/gallery.pug 
  include includes/footer.pug
  
  script(src="assets/js/index.js")
  script(src="https://use.fontawesome.com/d891ebaa12.js")
