.contact-box
  display: flex
  flex-direction: column
  font-size: 0.8rem
  padding: 10px 50px
  max-width: 900px
  margin: 0 auto
  @media screen and (min-width: 640px)
    flex-direction: row
    justify-content: space-around

form
  display: flex
  flex-direction: column
  margin-bottom: 20px
    
form > *
  outline: none
  background: white
  border: 1px solid black
  font-size: inherit
  margin: 5px
  padding: 10px

form button
  max-width: 100px
  padding-left: 0

.contact-item
  ul 
    padding-left: 10px 
    list-style: none
  @media screen and (min-width: 640px)
    max-width: 50%


