.form-container
  background: lime
  padding: 50px

form
  display: flex
  flex-direction: column

form > *
  outline: none
  background: white
  border: 2px solid black
  border-radius: 5px
  font-size: 16px
  margin: 5px
  padding: 10px