.gallery
  padding: 0.5em

  .gallery-grid
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(10, 1fr)
    grid-gap: 0.5em

    @media screen and (min-width: 480px)
      grid-template-columns: repeat(4, 1fr)
      grid-template-rows: repeat(5, 1fr)

    @media screen and (min-width: 760px)
      grid-template-columns: repeat(6, 1fr)
      grid-template-rows: repeat(5, 1fr)

    @media screen and (min-width: 900px)
      grid-template-columns: repeat(8, 1fr)
      grid-template-rows: repeat(5, 1fr)
  
  .img-overlay
    letter-spacing: 1px
    font-family: 'Lora', san-serif
    font-size: 5px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    opacity: 0
    background: rgba(0,0,0,0.8)
    color: white
    position: absolute
    left: 0 
    right: 0
    top: 0
    bottom: 0
    transition: opacity 0.2s ease-in, font-size 0.2s ease-in
  
  .grid-item
    position: relative
    min-height: 200px
    background-color: $accent
    background-size: cover
    background-position: center
    transition: 0.3s ease-in-out, transform 0.3s ease-in-out
    cursor: pointer

    &.large
      grid-column: span 2
      grid-row: span 2

    &.wide
      grid-column: span 2

    &.tall
      grid-row: span 2

    &:hover 
      transform: scale(1.01)
      
      .img-overlay
        opacity: 1
        font-size: 14px




