.modal
  height: 500px
  padding: 10px
  display: flex
  flex-direction: column
  margin: 0 auto

  @media screen and (min-width: 768px)
    max-width: 900px
    flex-direction: row
    padding: 10px 50px

.modal-img
  img
    width: 100%
  @media screen and (min-width: 768px)
    min-width: 500px

.modal-data
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 0 20px

.modal-btns
  display: flex
  justify-content: space-between
  font-size: 3rem

.inactive
  color: lightgrey
