.modal
  min-height: 700px
  padding: 10px
  display: flex
  flex-direction: column

  @media screen and (min-width: 768px)
    flex-direction: row
    padding: 10px 50px

.modal-img
  img
    width: 100%
  @media screen and (min-width: 768px)
    min-width: 500px

  .modal-data
  padding: 0 20px

.modal-btns
  display: flex
  justify-content: space-between

  div
    border: 1px solid red
