.mailer-cta
  background: lime
  display: flex
  flex-direction: column
  padding: 50px 20px
  text-align: center

  h2
    margin: 0 20px 10px

.shop-item
  background: pink
  padding: 10px

  img
    width: 200px

.mailer-form
  input, button
    background: none
    padding: 10px 20px
    border: 3px solid black
    font-size: inherit
    outline: none
    
  input
    margin-right: 20px
    &::placeholder
      font-family: serif
      font-style: italic
      color: black

  button
    cursor: pointer
    transition: color 0.3s ease-in, background 0.3s ease-in
    &:hover
      background: black
      color: lime