.mailer-cta
  background: $domhue
  display: flex
  flex-direction: column
  padding: 50px 20px
  text-align: center

  h2
    margin: 0 20px 10px

.shop-container
  padding: 10px
  display: grid
  grid-template-columns: repeat(1, 1fr) 

  @media screen and (min-width: 480px)
    grid-template-columns: repeat(2, 1fr)
  @media screen and (min-width: 760px)
    grid-template-columns: repeat(3, 1fr)
  @media screen and (min-width: 900px)
    margin: 0 auto;
    max-width: 1000px

.shop-item
  text-align: center
  padding: 10px
  img
    width: 100%
  p
    margin: 2.5px 0px

.mailer-form
  input, button
    background: none
    padding: 10px 20px
    border: 3px solid $black
    font-size: inherit
    outline: none
    
  input
    margin-right: 20px
    &::placeholder
      font-family: 'Lora'
      // font-weight: 300
      color: $black

  button
    cursor: pointer
    transition: color 0.3s ease-in, background 0.3s ease-in
    &:hover
      background: $black
      color: $domhue