footer
  display: grid
  grid-auto-rows: 2em
  background-color: limegreen
  padding: 20px 0

  nav, p, .footer-icons
    align-self: center
    justify-self: center

    li
      text-transform: uppercase
      list-style: none
      display: inline-block

  p
    margin: 0
    font-size: 0.6em

  .footer-icons
    margin: 0 auto
    width: 120px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    text-align: center
