header
  display: grid
  position: relative

  img
    width: 50px
    justify-self: center
    padding: 10px

  nav
    text-transform: uppercase
    justify-self: center

    li
      display: block
      text-align: center
      padding: 10px

  .hamburger-container
    position: absolute
    right: 0
    top: 20px

  .hidden
    display: none


@import './hamburger'
