html {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  border: 1px solid red !important; }
  @media screen and (min-width: 640px) {
    html {
      font-size: 16px; } }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: black; }

button {
  outline: none; }

nav li {
  display: inline-block;
  padding: 5px;
  text-transform: uppercase; }

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: pink; }
  header img {
    width: 50px;
    margin: 20px auto 10px; }
  header h2 {
    margin: 0; }
  header li {
    list-style: none;
    margin: 5px 0 5px; }
  header a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 1; }
    header a:hover {
      opacity: 0.7; }
  header nav {
    text-align: center;
    display: flex;
    flex-direction: column; }

.hidden {
  display: none; }

.hamburger {
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  text-transform: none;
  background-color: inherit;
  border: 0;
  overflow: visible; }

.hamburger-box {
  width: 25px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 25px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  transition: transform 0.15s ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -8px; }

.hamburger-inner::after {
  bottom: -8px; }

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger-container {
  position: absolute;
  right: 8px;
  top: 50px; }

@media screen and (min-width: 640px) {
  .hamburger {
    display: none; }
  header, nav {
    flex-direction: row; }
  header {
    align-items: center; }
    header li {
      margin: 0 5px; }
      header li:last-of-type {
        margin-right: 0; } }

.section-hero {
  background: rgba(0, 0, 0, 0.7) url("../img/hero.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  height: 300px;
  margin-bottom: 50px; }
  .section-hero h2 {
    color: white; }

.gallery .gallery-grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 2px; }
  @media screen and (min-width: 480px) {
    .gallery .gallery-grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr); } }
  @media screen and (min-width: 760px) {
    .gallery .gallery-grid {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(5, 1fr); } }

.gallery .grid-item {
  min-height: 200px;
  background-color: coral; }
  .gallery .grid-item.large {
    grid-column: span 2;
    grid-row: span 2; }
  .gallery .grid-item.wide {
    grid-column: span 2; }
  .gallery .grid-item.tall {
    grid-row: span 2; }

footer {
  display: grid;
  grid-auto-rows: 2em;
  background-color: limegreen;
  padding: 20px 0; }
  footer nav, footer p, footer .footer-icons {
    align-self: center; }
  footer p {
    margin: 0;
    font-size: 0.6em; }
  footer .footer-icons {
    margin: 0 auto;
    width: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
