footer
    
  nav
    li
      a(href="#") gallery
    li
      a(href="#") contact
    li
      a(href="#") shop
      
  .footer-icons
    a(href="http://twitter.com/hurricanechaz")
      i.fa.fa-twitter
    a(href="http://www.instagram.com/chazhurricane")
      i.fa.fa-instagram
    a(href="http://www.behance.net/chazhurricane")
      i.fa.fa-behance

  p &copy; 2018 Charlie Taylor all rights reserved.
