footer
    
  nav
    a(href="#")
      li.active gallery
    a(href="#")
      li contact
    a(href="#")
      li shop
      
  .footer-icons
    a(href="http://twitter.com/hurricanechaz")
      i.fa.fa-twitter
    a(href="http://www.instagram.com/chazhurricane")
      i.fa.fa-instagram
    a(href="http://www.behance.net/chazhurricane")
      i.fa.fa-behance

  p &copy; 2018 Charlie Taylor all rights reserved.
