section.gallery
  .gallery-grid
    .grid-item.large 1
    .grid-item.wide 2
    .grid-item.wide 3
    .grid-item.tall 4
    .grid-item.tall 5
    .grid-item.small 6
    .grid-item.small 7
    .grid-item.large 8
    .grid-item.wide 9
    
    
    
