section.gallery
  .container
    img(src="assets/img/gallery1.jpg")
    img(src="assets/img/gallery1.jpg")
    img(src="assets/img/gallery1.jpg")
    img(src="assets/img/gallery1.jpg")
    img(src="assets/img/gallery1.jpg")
    img(src="assets/img/gallery1.jpg")
