header
  img(src="assets/img/hclogo.png" alt="Hurricane Charlie Logo")
  nav.hidden
    li:a(href="#") gallery
    li:a(href="#") contact
    li:a(href="#") shop
    
  .hamburger-container
    button.hamburger.hamburger--spin.ham-handle
      span.hamburger-box
        span.hamburger-inner
