html
  font-family: 'Roboto', sans-serif
  font-size: 20px

  @media screen and (min-width: 640px)
    font-size: 16px

body
  margin: 0

a
  text-decoration: none
  color: black

button
  outline: none

nav li
  list-style: none
  text-transform: uppercase
  font-weight: bold

@import './styles/Header'

// .section-hero
//   background: rgba(0,0,0,0.7) url('../img/hero.jpg')
//   background-size: cover
//   background-position: top center
//   background-attachment: fixed
//   height: 300px
//   margin-bottom: 50px

//   h2
//     color: white

@import './styles/Gallery'
@import './styles/Contact'
@import './styles/Footer'