$domhue: #08D9D6
$second: #EAEAEA
$accent: #FF2E63
$black: #252A34
  
html
  font-family: 'Roboto', sans-serif
  font-size: 20px

  @media screen and (min-width: 640px)
    font-size: 16px

body
  margin: 0

a
  text-decoration: none
  color: $black

button
  outline: none

nav 
  li
    list-style: none
    text-transform: uppercase
    font-weight: bold
    cursor: pointer
    &:hover
      color: $accent

@import './styles/Header'

.shop-cta
  position: relative
  background-image: url('./assets/img/hero.jpg')
  background-repeat: no-repeat
  background-size: cover
  height: 200px
  display: flex
  flex-direction: column
  justify-content: space-around

  &:after
    content: ''
    background-color: $domhue
    opacity: 0.7
    top: 0
    left: 0
    bottom: 0
    right: 0
    position: absolute
    z-index: 1

.shop-btn
  text-align: center
  cursor: pointer
  font-weight: 100
  display: block
  padding: 5px 10px
  color: white
  z-index: 2
  &:hover
    color: darken(white, 5%)
    
@import './styles/Gallery'
@import './styles/Contact'
@import './styles/Shop'
@import './styles/Footer'