html
  font-family: 'Roboto', sans-serif
  font-size: 20px

  @media screen and (min-width: 640px)
    font-size: 16px

body
  margin: 0

a
  text-decoration: none
  color: black

button
  outline: none

nav li
  list-style: none
  text-transform: uppercase
  font-weight: bold
  cursor: pointer
  &:hover
    color: coral

@import './styles/Header'

.shop-cta
  height: 200px
  background: lime
  display: flex
  flex-direction: column
  justify-content: space-around
  text-align: center

@import './styles/Gallery'
@import './styles/Contact'
@import './styles/Shop'
@import './styles/Footer'